p{
    letter-spacing: 1px;
    text-indent: 2em;
    font-size: 4vw;
    line-height: 5vw;
    
}
.reader{
    background: #faeed7;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
}
h1{
    text-align: center;
    font-size: 5vw;
}
html{
    background: #d9cdb6;
    margin: 0;
    font-family: "KaiTi","Microsoft Yahei";
}

@font-face {
    font-family: "KaiTi";
    src: url(../fonts/FangZhengKaiTiJianTi-1.ttf);
}

@font-face {
    font-family: "KaiTI-GBK";
    src: url(../fonts/FangZhengKaiTi-GBK-1.ttf);
}